*{
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* weather__show */
.weather{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 50%;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
/* current-weather__top */
.temperature{
    font-size: 25px;
    font-weight: bold;
}
.current-weather > div{
    display: flex;
    margin-top: 5px;
}
.current-weather > div *{
    margin-right:  5px;
}
.weather-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
/* current-weather__bottom */
.current-weather__bottom{
    display: flex;
    flex-direction: column;
}
.current-weather__bottom > *{
    margin-top: 5px;
}

.weather__get{
    display: flex;
    flex-direction: column;
}
.weather__get > *{
    margin-top: 5px;
}

/* Media */
@media (max-width: 920px) {
    .weather{
        width: 90%;
        height: 30%;
    }
}