*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 50%;
    border-radius: 15px;
    background-color: rgb(176, 176, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.temperature{
    font-size: 20px;
}
.current-weather{
    display: flex;
}
.wheather-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}