*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./img/clouds-bg.jpg") no-repeat;
    background-size: cover;
}
/* weather__show */
.weather{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: 50%;
    border-radius: 15px;
    background-color: rgba(25, 0, 255, 0.2);
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}
.temperature{
    font-size: 20px;
    font-weight: bold;
}
.current-weather > div{
    display: flex;
    margin-top: 5px;
}
.current-weather > div *{
    margin-right:  5px;
}
.wheather-icon{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}